@{
    ViewData["Title"] = "لوحة التحكم";
}

<h2 style="text-align:center">اختر خيارًا</h2>

<ul style="list-style:none; text-align:center; padding:0;">
    <li><a href="/Dashboard/About">عن المبادرة</a></li>
    <li><a href="/Dashboard/Indicators">مؤشرات المبادرة</a></li>
    <li><a href="/Dashboard/Services">خدمات المبادرة</a></li>
    <li><a href="/Dashboard/Media">الركن الاعلامي</a></li>
    <li><a href="/Dashboard/Contact">تواصل معنا</a></li>
</ul>
